<!-- MENU -->
{% extends 'Complements/inicio.htm' %}
{% block head %}
<title>Iniciar Sesion</title>
{% endblock head %}

{% block body %}
<!-- Ingreso Usuario -->
<body background="../../../static/img/Fondos/Login.jpg">
    <form method="POST" id="Formulario" autocomplete="off">
        <div id="login">
            <div class="container">
                <div id="login-row" class="row justify-content-center align-items-center">
                    <div id="login-column" class="col-md-6">
                        <div id="login-box" class="col-md-12">
                            <form id="login-form" class="form" method="POST">
                                {% csrf_token %}
                                <hr>
                                <h3 class="text-center" style="color: white">Iniciar Sesion</h3>
                                <hr>

                                <!-- Correo Usuario -->
                                <div class="form-group">
                                    <label for="Correo" style="color: white">Correo Electronico:</label><br>
                                    <input type="text" name="Correo" id="Correo" class="form-control" placeholder="Ej: Ejemplo@Dominio.com" required>
                                </div>

                                <!-- Contraseña -->
                                <div class="form-group">
                                    <label for="Pass" style="color: white">Contraseña:</label><br>
                                    <input type="password" name="Pass" id="Pass" class="form-control" placeholder="" required maxlength="45">
                                </div>

                                <!-- Botones -->
                                <hr>
                                <div class="form-group" method="POST">
                                    <input type="submit" name="btnAccion" class="btn btn-success btn-md" value="Ingresar">
                                    <input type="submit" name="btnAccion" class="btn btn-success btn-md" value="Registrarse">
                                    <input type="reset"  class="btn btn-success btn-md" value="Resete">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</body>
{% endblock body %}