<!-- MENU -->
{% extends 'Complements/admin.htm' %}
{% block head %}
<title>Listado Mascotas</title>
{% endblock head%}
{% block body%}
<form action="POST">
    <!-- Listado -->
    <h1 style="text-align: center">Listado de Mascotas</h1>
    <table class="table">
        <!-- Secciones -->
        <thead class="thead-dark">
            <tr>
                <th scope="col">Fotografia</th>
                <th scope="col">Nombre</th>
                <th scope="col">Raza</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Estado</th>
            </tr>
        </thead>
        <tbody>
            <!-- Datos de la Base de Datos -->
            {% for mas in mascotas %}
            <tr>
                <td>{{mas.Foto}}</td>
                <td>{{mas.Nombre}}</td>
                <td>{{mas.Raza}}</td>
                <td>{{mas.Descripcion}}</td>
                <td>{{mas.Estado}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</form>

{% endblock body %}