<!-- MENU -->
{% extends 'Complements/admin.htm' %}
{% block head %}
<title>Modificar</title>
{% endblock head%}
{% block body%}
<!-- Formulario de Modificacion para Mascotas -->
<body background="../../../static/img/Fondos/Modificar.jpg">
    <form method="POST" id="Formulario" autocomplete="off">
        <div id="login">
            <div class="container">
                <div id="login-row" class="row justify-content-center align-items-center">
                    <div id="login-column" class="col-md-6">
                        <div id="login-box" class="col-md-12">
                            <form id="login-form" class="form" method="POST">
                                {% csrf_token %}
                                <hr>
                                <h3 class="text-center" style="color: white">Actualizar Mascota</h3>
                                <hr>

                                <!-- Buscador de Mascotas por su Nombre -->
                                <div class="form-group">
                                    <label for="Nombre">Buscar Mascota:</label><br>
                                    <input type="text" name="NombreBusqueda" id="NombreBusqueda" class="form-control">
                                </div>
                                <div class="form-group" method="POST">
                                    <input type="submit" name="btnAccion" class="btn btn-success btn-md" value="Buscar">
                                </div>

                                <!-- Nombre Mascota -->
                                <div class="form-group">
                                    <label for="Nombre">Nombre:</label><br>
                                    <input type="text" name="Nombre" id="Nombre" value="{{mas.Nombre}}" class="form-control" readonly>
                                </div>

                                <!-- Raza Mascota -->
                                <div class="form-group">
                                    <label for="Raza">Raza Predominante:</label><br>
                                    <input type="text" name="Raza" id="Raza" value="{{mas.Raza}}" class="form-control">
                                </div>

                                <!-- Descripcion de la Mascota -->
                                <div class="form-group">
                                    <label for="Descripcion">Descripción:</label><br>
                                    <input type="text" name="Descripcion" id="Descripcion" value="{{mas.Descripcion}}"
                                        class="form-control">
                                </div>

                                <!-- Estado Mascota -->
                                <div class="form-group">
                                        <label for="Estado">Estado:</label><br>
                                        <select name="Estado" id="Estado" class="form-control">
                                            <option value="Rescatado">Rescatado</option>
                                            <option value="Disponible">Disponible</option>
                                            <option value="Adoptado">Adoptado</option>
                                        </select>
                                    </div>
                                <div class="form-group" method="POST">
                                    <input type="submit" name="btnAccion" class="btn btn-success btn-md" value="Actualizar">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</body>
{% endblock body %}