{% extends 'Complements/admin.htm' %}
{% block head %}
{% endblock head %}

{% block body %}
<body background="../../../static/img/Fondos/RegistrarAdmin.jpg">
    <form method="POST" id="Formulario" autocomplete="off">
        <div id="login">
            <div class="container">
                <div id="login-row" class="row justify-content-center align-items-center">
                    <div id="login-column" class="col-md-6">
                        <div id="login-box" class="col-md-12">
                            <form id="login-form" class="form" method="POST">
                                {% csrf_token %}
                                <hr>
                                <h3 class="text-center">Ingresar Usuario Administrador</h3>
                                <hr>
                                <div class="form-group">
                                    <label for="Nombre" style="color: white">Correo:</label><br>
                                    <input type="text" name="Correo" id="Usuario" class="form-control" pattern="[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*@[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*[.][a-zA-Z]{1,5}" title="Ejemplo@Dominio.com" placeholder="Ej: Ejemplo@Dominio.com" required>
                                </div>
                                <div class="form-group">
                                    <label for="Raza" style="color: white">Contraseña:</label><br>
                                    <input type="password" name="Pass" id="Pass" class="form-control" placeholder="" required maxlength="45">
                                </div>
                                <hr>
                                <div class="form-group" method="POST">
                                    <input type="submit" name="btnIngresar" class="btn btn-success btn-md" value="Registrar">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</body>
{% endblock body%}