{% extends 'Complements/admin.htm' %}
{% block head %}
<title>Registrar Administrador</title>
{% endblock head %}

{% block body %}

<body background="../../../static/img/Fondos/RegistrarAdmin.jpg">
    <form method="POST" id="Formulario" autocomplete="off">
        <div id="login">
            <div class="container">
                <div id="login-row" class="row justify-content-center align-items-center">
                    <div id="login-column" class="col-md-6">
                        <div id="login-box" class="col-md-12">
                            <form id="login-form" class="form" method="POST">
                                {% csrf_token %}
                                <hr style="border-color: white">
                                <h3 class="text-center" style="color: white">Registro Administrador</h3>
                                <hr style="border-color: white">
                                <div class="form-group">
                                    <label for="Nombre" style="color: white">Nombre:</label><br>
                                    <input type="text" name="Nombre" id="Nombre" class="form-control" required>
                                </div>
                                <div class="form-group">
                                    <label for="Nombre" style="color: white">Apellido:</label><br>
                                    <input type="text" name="Apellido" id="Apellido" class="form-control" required>
                                </div>
                                <div class="form-group">
                                    <label for="Nombre" style="color: white">Correo Electronico:</label><br>
                                    <input type="text" name="Correo" id="Correo" class="form-control" required pattern="[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*@[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*[.][a-zA-Z]{1,5}"
                                        title="Ejemplo@Dominio.com" placeholder="Ej: Ejemplo@Dominio.com">
                                </div>
                                <hr style="background-color: white">
                                <h3 class="text-center" style="color: white">Usuario</h3>
                                <hr style="border-color: white">
                                <div class="form-group">
                                    <label for="Nombre" style="color: white">Usuario:</label><br>
                                    <input type="text" name="User" id="User" class="form-control" required>
                                </div>
                                <div class="form-group">
                                    <label for="Raza" style="color: white">Contraseña:</label><br>
                                    <input type="password" name="Pass" id="Pass" class="form-control" placeholder=""
                                        required maxlength="45">
                                </div>
                                <div class="form-group">
                                    <label for="Nombre" style="color: white">Repetir Contraseña:</label><br>
                                    <input type="text" name="Repass" id="Repass" class="form-control" required>
                                </div>
                                <hr>
                                <div class="form-group" method="POST">
                                    <input type="submit" name="btnIngresar" class="btn btn-success btn-md" value="Registrar">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</body>
{% endblock body%}